
<style>
    .container {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}



.btn-verify {
    background-color: #8e44ad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}

.btn-verify:hover {
    background-color: #732d91;
}

</style>
<div class="container">
    <h1 class="text-center">
        404 Not Found
    </h1>
    <a href="/login" class="btn-verify" >Login</button>
</div>