
<style>
    .container {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.camera-feed {
    margin: 20px auto;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 5px solid #e8e9eb;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.btn-verify {
    background-color: #8e44ad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-verify:hover {
    background-color: #732d91;
}

</style>
<div class="container">
    <h1 class="text-center">Face Verification</h1>
    <div class="camera-feed">
        <video id="video" autoplay></video>
    </div>

    <div class="form-group has-icon">
        <i class="fas fa-envelope input-icon"></i>
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="login_email" name="email" placeholder="Enter your email" required autocomplete="off">
    </div>

    <div class="form-group has-icon">
        <i class="fas fa-key input-icon"></i>
        <label for="pin">PIN:</label>
        <input type="text" inputmode="numeric" pattern="[0-9]{4}"
         class="form-control" id="login_pin" name="pin" placeholder="Enter a 4-digit PIN" 
         required minlength="4" maxlength="4" 
         onkeypress="return event.charCode >= 48 && event.charCode <= 57" 
         oninput="this.value=this.value.slice(0,this.maxLength)"
         autocomplete="off">
    </div>

    <button class="btn-verify" disabled>Verify Face</button>

</div>