<div class="card window-card" id="voice-capture-card">
    <div class="card-header window-header">
        <!-- Window control icons -->
        <div class="window-controls">
            <div class="window-control close"></div>
            <div class="window-control minimize"></div>
            <div class="window-control maximize"></div>
        </div>
        <br>
        <h3 class="card-title window-title"><i class="fas fa-microphone-alt"></i> Register Your Voice</h3>
    </div>

    <div class="card-body">
       
        <p>Please click "Record" and speak the passphrase clearly. Your text will appear below:</p>
        <div class="container">
            <div id="transcription" class="echo-effect" style="text-align: center;"></div>
            <div class="soundwave">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <button class="btn btn-action" id="voice-toggle-btn">Start Transcription</button>
            
        </div>
       
    </div>
</div>