{% extends "base.html" %}

{% block title %}
Registration - Jarvis the Personal Assistant
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">
        <i class="fas fa-assistive-listening-systems heading-icon"></i>
        Jarvis the Personal Assistant
    </h1> 
    <!-- Include the registration section -->
   <!-- This is a partial template that can be included in the main registration template -->
    <div id="registration-section" class="registration-section">
        <!-- Include individual card templates -->
        {% include "parts/face_capture_card.html" %}
        
    </div>

</div>
<script src="/static/js/video_script.js"></script>

{% endblock %}
